:host {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    font-size: 12px;
    box-sizing: border-box;
    min-height: 24px;

    margin-bottom: 5px;
    cursor: default;
}

.group {
    margin-left: 15px;
    margin-right: 10px;
}

.group[readonly] .name {
    color: #888888;
}

.group[readonly] .label {
    display: block;
}

.name {
    min-width: 30px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    color: #aaa;
}

.name:hover {
    color: #f90;
}

.name.anonymous {
    color: #888;
}

.label {
    display: none;

    font-size: 9px;
    font-weight: bold;
    font-style: italic;
    padding: .1em .5em;
    min-width: 20px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    border-radius: 1px;
    border-color: #e8e8e8;
    background: #2376e4;
}

:host[focused] .name {
    color: #00a6ff;
}

:host[disabled] * {
    pointer-events: none;
}

:host[disabled] .name {
    color: #666;
}

:host[slidable] .name {
    cursor: ew-resize;
}
