:host {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    font-size: 12px;
    box-sizing: border-box;
    margin-bottom: 5px;
    min-height: 22px;
}

.name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #ccc;
}

.name.anonymous {
    color: #888;
}

:host[focused] .name {
    color: #00a6ff;
}

:host[disabled] * {
    pointer-events: none;
}

:host[disabled] .name {
    color: #666;
}

.readonly {
    display: none;
    margin-right: 4px;
    min-width: 30px;
}

.group {
    display: flex;
}

:host[readonly] .readonly{
    display: inline-flex;
    flex: 1;
}

:host[readonly] .name {
    color: #888888;
}

.readonly ::content .text.editor-label{
    font-size: 9px;
    font-style: italic;
}

.readonly ::content .bg.editor-label{
     border-radius: 1px;
}
